
<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img
                src="./assets/img/brand/badgerajustadodefinitivo.png"
                style="width: 200px;"
                class="img-fluid"
              />
              <p class="lead text-white">
                A simple crypto API , for complex projects.
              </p>
              <p><span class="text-warning">Powered by Binance.</span></p>
              <div class="btn-wrapper mt-5">
                <a
                [routerLink]="[ '/docs' ]"
                  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-diamond"></i
                  ></span>
                  <span class="btn-inner--text">Documentation</span>
                </a>
                <a
                  href="https://github.com/tihomir22/BadgerAPI"
                  class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0"
                  target="_blank"
                >
                  <span class="btn-inner--icon"
                    ><i class="fa fa-github"></i
                  ></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span
                  >
                </a>
              </div>
              <a href="https://github.com/tihomir22" target="_blank" rel="noopener noreferrer">
                <div class="mt-5">
                  <small class="text-white font-weight-bold mb-0 mr-2"
                    >*proudly coded by</small
                  >

                  <img
                    src="https://avatars3.githubusercontent.com/u/20975446?s=460&v=4"
                    alt=""
                    srcset=""
                    style="height: 28px; border-radius: 50%"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-respuesta-documentacion></app-respuesta-documentacion>
  <app-ejemplo-github01></app-ejemplo-github01>
  <app-about-us></app-about-us>
  <app-contacto></app-contacto>
</main>
