<section class="section section-lg pt-lg-0 section-contact-us floating">
  <div class="container" >
    <div class="row justify-content-center mt--300">
      <div class="col-lg-8">
        <div class="card bg-gradient-secondary shadow">
          <ngx-spinner
            [fullScreen]="false"
            type="pacman"
            size="medium"
          >
            <p class="loading">Loading Awesomeness...</p>
          </ngx-spinner>
          <div class="card-body p-lg-5">
            <h4 class="mb-1">Want to work with us?</h4>
            <p class="mt-0">
              The forest could be a dangerous place if you walk alone, better
              take a badger with you.
            </p>
            <div [formGroup]="formGroup">
              <div
                class="form-group mt-5"
                [ngClass]="{ focused: focus === true }"
              >
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{
                    'form-group has-danger':
                      formGroup.get('nombre').hasError('required') &&
                      formGroup.controls['nombre']?.touched,
                    'form-group has-success':
                      formGroup.controls['nombre']?.valid &&
                      formGroup.controls['nombre']?.touched
                  }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-user-run"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Your name"
                    type="text"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    formControlName="nombre"
                  />
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{
                    'form-group has-danger':
                      (formGroup.get('email').hasError('required') ||
                        formGroup.get('email').hasError('email')) &&
                      formGroup.controls['email']?.touched,
                    'form-group has-success':
                      formGroup.controls['email']?.valid &&
                      formGroup.controls['email']?.touched
                  }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email address"
                    type="email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    formControlName="email"
                  />
                </div>
              </div>
              <div
                class="form-group mb-4"
                [ngClass]="{
                  'form-group has-danger':
                    formGroup.get('mensaje').hasError('required') &&
                    formGroup.controls['mensaje']?.touched,
                  'form-group has-success':
                    formGroup.controls['mensaje']?.valid &&
                    formGroup.controls['mensaje']?.touched
                }"
              >
                <textarea
                  class="form-control form-control-alternative"
                  name="name"
                  rows="4"
                  cols="80"
                  placeholder="Type a message..."
                  formControlName="mensaje"
                ></textarea>
              </div>
            </div>
            <div>
              <ng-container *ngIf="mostrarAlerta">
                <ngb-alert
                  [type]="tipoDeAlerta"
                  [dismissible]="true"
                  (close)="mostrarAlerta = false"
                >
                  <div class="alert-inner--icon">
                    <i class="ni ni-support-16" *ngIf="tipoDeAlerta=='danger'"></i>
                    <i class="ni ni-favourite-28" *ngIf="tipoDeAlerta=='success'"></i>
                  </div>
                  <span class="alert-inner--text">
                    <strong>{{ textoStrong }} </strong>{{ textoNormal }}</span
                  >
                </ngb-alert>
              </ng-container>
              <button
                type="button"
                class="btn btn-default btn-round btn-block btn-lg"
                (click)="sendMessage()"
              >
                Send Message
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
