<div class="container py-md" >
  <div class="row row-grid justify-content-between align-items-center">
    <div class="col-lg-5 mb-lg-auto">
      <div class="transform-perspective-left">
        <img
          src="./assets/img/theme/ezgif-4-6955c9e3fed3.gif"
          alt="Raised image"
          class="img-fluid rounded shadow-lg"
          style="width: 100%;height: 100%;"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <h3 class="display-3">
        Community projects
        <span
          >made with
          <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
            <img src="./assets/img/brand/badgerajustadodefinitivo.png" /> BADGER
            API
          </a></span
        >
      </h3>
      <p class="lead">
        Our growing community is using our BadgerAPI daily, helping us polish
        our code and doing their own professional projects. On the left, a
        project which experiments with the speed of BadgerAPI, which sucessfully
        loads and displays different large datasets in less than 500ms. The
        project can be found
        <a
          href="https://github.com/tihomir22/BadgerAPI---Candlestick-Chart-Example"
          target="_blank"
          rel="noopener noreferrer"
        >
          here </a
        >, along others made by the community. The best projects will be
        displayed on the website.
      </p>
    </div>
  </div>
</div>
