<section class="section section-lg bg-gradient-default">
  <div class="container pt-lg pb-300">
    <div class="row text-center justify-content-center">
      <div class="col-lg-10">
        <h2 class="display-3 text-white">Get stuff done</h2>
        <p class="lead text-white">
          More than 50 percent of startups fail in the first four years. 19
          percent of startups fail because of too much competition, and another
          18 percent fail because of pricing or cost issues. Are you going to
          join this percent?
        </p>
      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-4">
        <div
          class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
        >
          <i class="ni ni-settings text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Secure and Robust</h5>
        <p class="text-white mt-3">
          BadgerAPI was built on top backend technologies such as Spring Boot
          Microservice architecture.
        </p>
      </div>
      <div class="col-lg-4">
        <div
          class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
        >
          <i class="ni ni-ruler-pencil text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Experiment with us</h5>
        <p class="text-white mt-3">
          We offer more than 20 technical indicators, live price data and
          historic data. Improve your bussines with us!
        </p>
      </div>
      <div class="col-lg-4">
        <div
          class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
        >
          <i class="ni ni-atom text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Fast responses</h5>
        <p class="text-white mt-3">
          Our responses are faster than a grizzly fearless badger from the
          forest, perfect por trading bots o market watchers.
        </p>
      </div>
    </div>
  </div>

</section>
